$light-grey: #bdc0b8;
$grey: #7b7b79;
$dark-grey: #5b5754;
$orange: #ff7b38;

// Sava said we call this general stuff
* {
  box-sizing: border-box;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
   outline: none;
}

body, html {
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  overflow: auto;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

#hide-on-desktop {
  display: none;
}

.logo {
  width: 64px;
  height: 64px;
}

.btn {
  padding: 16px 32px 12px;
  background: transparent;
  border: 2px solid #000;
  border-radius: 50px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-right: 24px;
}

.btn-orange {
  background: $orange;
  border: 2px solid #ff7b38;
  color: #fff;
}

/* Navbar */
nav {
  background: transparent;
  padding: 30px 10px 10px;

  ul {
    list-style-type: none;
    margin: 26px 0 0;
    padding: 0;
    float: right;

    li {
      display: inline-block;
      margin-left: 16px;

      /* Toggle button */
     .hamburger-icon {
       width: 40px;
       height: 40px;
       margin: 12px;
       transform: rotate(0deg);
       cursor: pointer;
       display: none;
     }

     .hamburger-icon span {
       display: block;
       position: absolute;
       height: 6px;
       width: 100%;
       background: #61dafb;
       opacity: 1;
       left: 0;
       background: #000;
       display: none;
     }

     .hamburger-icon span:nth-child(1) {
       top: 0px;
     }

     .hamburger-icon span:nth-child(2) {
       top: 12px;
     }

     .hamburger-icon span:nth-child(3) {
       top: 24px;
     }

      a {
        text-decoration: none;
        text-transform: uppercase;
        font-size: 16px;
        letter-spacing: 3px;
        font-weight: bold;
        color: #7b7b79;
      }
    }
  }
}

/* Intro */
#intro {
  padding-bottom: 255px;
  background: url('../images/home_image.png');
  background-size: cover;
  height: 100%;

  h4 {
    color: #ff7b38;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-weight: bold;
    font-size: 20px;
    margin: 192px 0 0;
  }

  h1 {
    font-weight: bolder;
    font-size: 128px;
    margin: 0 0 64px;
  }
}

/* Concepts */
#concepts{
  padding: 92px;
  text-align: center;

  h2 {
    margin: 0;
    margin-bottom: 12px;
    font-size: 48px;
    letter-spacing: 1px;
  }

  span {
    display: block;
    text-transform: uppercase;
    font-size: 14px;
    color: $light-grey;
    letter-spacing: 6px;
  }

  button {
    margin-top: 72px;
  }

  .images {
    display: flex;
    height: 700px;
    margin-top: 48px;

    #concept-1 {
      background: url('../images/concept-1.png');
      background-size: cover;
      height: 100%;
    }

    #concept-2 {
      background: url('../images/concept-2.png');
      background-size: cover;
      height: 100%;
      flex: 5;
      margin-bottom: 30px;
    }

    #concept-3 {
      background: url('../images/concept-3.png');
      background-size: cover;
      height: 100%;
      flex: 2;
    }

    #concept-4 {
      background: url('../images/concept-4.png');
      background-size: cover;
      height: 100%;
      flex: 2;
      margin-bottom: 30px;
    }

    #concept-5 {
      background: url('../images/concept-5.png');
      background-size: cover;
      height: 100%;
      flex: 3;
    }

    .col-1 {
      flex: 5;
      margin: 0 15px;
    }

    .col-2 {
      display: flex;
      flex-direction: column;
      flex: 4;
      justify-content: space-between;
      margin: 0 15px;
    }

    .col-3 {
      display: flex;
      flex-direction: column;
      flex: 2;
      justify-content: space-between;
      margin: 0 15px;
    }

  }
}

/* About */
#about {

  .row {
    display: flex;
  }

  .col-1 {
    flex: 1;

    h2 {
      font-size: 48px;
      font-weight: bold;
      margin: 48px 0 16px;
    }

    .subheader {
      text-transform: uppercase;
      letter-spacing: 6px;
      color: $grey;
    }

    p {
      margin-top: 36px;
      color: $dark-grey;
      font-weight: bold;
      line-height: 28px;
    }

    .btn {
      margin: 36px 0;
    }

    .artists {
      display: flex;

      #artist-1 {
        margin-right: 15px;
      }

      #artist-2 {
        margin-left: 15px;
      }


      .artist {
        flex: 1;

        img {
          width: 100%;
          height: 85%;
        }

        h5 {
          text-transform: uppercase;
          letter-spacing: 6px;
          font-size: 16px;
          margin-bottom: 8px;
        }

        span {
          color: $orange;
          font-weight: bold;
        }
      }
    }
  }

  .col-2 {
    flex: 1;
    margin-left: 30px;

    img {
      width: 100%;
    }
  }
}

/* Footer */
footer {
  display: flex;
  margin: 64px 0;
  padding: 64px 0;

  h5 {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 16px;
    margin-bottom: 12px;
    color: $grey;
    padding: 0;
    margin: 0;
  }

  .footer-logo {
    flex: 1;
    display: flex;
    text-align: left;

    h5 {
      color: #000;
      margin: 16px 16px;
      word-spacing: 1000px;
    }
  }

  ul {
    flex: 1;
    list-style-type: none;
    margin: 0;

    li {
      margin-bottom: 20px;
    }
  }

  .newsletter {
    flex: 2;

    form {
      display: flex;
      border-bottom: solid 2px $grey;
      padding-bottom: 8px;
      margin-top: 32px;
      input {
        border: none;
        flex: 1;
        font-size: 18px;
      }

      button {
        border: none;
        background: #fff;
      }
    }
  }
}

.copyright {
  margin: 32px 0;
  text-align: center;
  color: $light-grey;
}

/* Smaller screens */
@media screen and (max-width: 576px) {
  .logo {
    width: 48px;
    height: 48px;
  }

  nav {
    ul {
      margin: 0;

      li {
        display: block;

        .hamburger-icon {
          display: block;

          span {
            display: block;
          }
        }

        a {
          display: none;
        }
      }
    }
  }

  #intro {
    h4 {
      text-align: center;
      font-size: smaller;
      letter-spacing: 6px;
    }

    h1 {
      margin-top: 16px;
      text-align: center;
      font-size: 48px;
    }

    button {
      margin: 16px auto;
      display: block;
      padding: 12px 24px;
      font-size: 14px;
    }
  }

  #concepts {
    padding: 48px 0 0;

    h2 {
      font-size: 32px;
      text-align: center;
    }

    span {
      letter-spacing: 2px;
      color: $grey;
      font-size: 13px;
      display: block;
      text-align: center;
    }

    button {
      margin: 16px auto;
      display: block;
      padding: 12px 24px;
      font-size: 14px;
    }

    .images {
      flex-direction: column;
      height: auto;

      .col-1,
      .col-2,
      .col-3 {
        display: block;
      }

      #concept-1 {
        height: 400px;
        margin-bottom: 16px;
      }

      #concept-2 {
        height: 350px;
        margin-bottom: 16px;
      }

      #concept-3 {
        height: 150px;
        margin-bottom: 16px;
      }

      #concept-4 {
        height: 400px;
        margin-bottom: 16px;
      }

      #concept-5 {
        height: 500px;
        margin-bottom: 16px;
      }
    }
  }

  #about {
    .row {
      display: block;

      h2 {
        font-size: 32px;
        text-align: center;
      }

      .subheader {
        letter-spacing: 2px;
        color: $grey;
        font-size: 13px;
        display: block;
        text-align: center;
      }

      img {
        width: 100%;
        margin: 16px auto;
      }

      p {
        text-align: center;
        margin-top: 16px;
        font-weight: normal;
      }

      .artists {
        #artist-1 {
          margin-right: 4px;
          height: 300px;
        }
        #artist-2 {
          margin-left: 4px;
          height: 300px;
        }

        .artist {
          h5 {
            letter-spacing: 2px;
            font-size: 13px;
            margin: 0 0 8px;
            text-align: center;
          }

          span {
            font-size: 13px;
            display: block;
            text-align: center;
          }
        }
      }

      .hide-on-mobile {
        display: none;
      }
    }
  }

  footer {
    flex-direction: column;
    padding-bottom: 0;

    .newsletter {
      order: 1;

      h5 {
        letter-spacing: 3px;
        font-size: 14px;
        text-align: center;
      }

      form {
        border-bottom: none;
        padding-bottom: 8px;
        margin-top: 32px;
        display: block;
        input {
          border-bottom: 2px solid $grey;
          font-size: 16px;
          display: block;
          width: 100%;
          padding: 5px;
        }

        button {
          margin: 24px auto;
          display: block;
          border: none;
          background: #fff;
        }
      }
    }

    .footer-logo {
      order: 2;
      margin: auto;

      img {
        margin: auto;
      }

      h5 {
        color: #000;
        margin: 16px 16px;
        word-spacing: 1px;
      }
    }

    ul {
      order: 3;
      margin-top: 36px;
      text-align: center;
      padding: 0;
    }
  }
}


/* @media screen and (min-width: 577px) and (max-width: 767px) {
    body {
        background: green;
    }
} */

// @media screen and (min-width: 577px) and (max-width: 992px) {
//
// }

/* Bootstrap container sizes */
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
